


    




/* header */



















/* hero */








/* benefits */




 /* My work */
/*  */
 

/* My-Team */





/* Клиенты */


                  /* footer */


 /* МОДАЛКА */

    
    
   










   




/* Портфолио */








.portf-ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


.portf-list{
    list-style: none;
    margin-right: 8px;

}
.portf-list:last-child{
    margin-right: 0px;
}

/* Проєкти */
    


.progect-list{
    margin: 0 auto;
    display: flex;
flex-wrap: wrap;
}



.progect-items{
    
list-style: none;
width: 370px;
height:auto;
margin-right: 30px;
margin-bottom: 30px;
}

.progect-items:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.progect-link{
    text-decoration: none;
    }
.progect-link:hover .product-titile,.progect-link:focus .product-titile{
    opacity: 1;
    visibility:visible; 
    transform:translateY(0%);
   
}

.progect-items:nth-child(3n){
    margin-right: 0px;
}
.progect-items:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.product-img{
    color: var(--background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
}
.product{
    position: relative;
    overflow: hidden;
}


.product-list-p{
color: var(--primary-text-color);
font-family: 'Roboto';
font-size: 16px;
line-height:1.87;
letter-spacing: 0.03em;
}
.product-name{
color: var(--title-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}







.product-signature{
            padding: 20px 24px;
border: 1px solid rgba(238, 238, 238, 1);
    border-top: 0px; 
} 
 
