.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}





.client-lists{
    display:flex;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.client-item{
    display: inline-block;
    list-style: none;
    
    margin-right: 30px;
}
.client-item:last-child{
    margin-right: 0px;
}

.client-link{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color:rgba(175, 177, 184, 1) ;
    border: 1px solid rgba(175, 177, 184, 1);
        border-radius: 4px;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
,fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.client-link:focus,
.client-link:hover {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);

}

.client-icon{
    fill:currentColor;

}